**/node_modules
**/.next
**/dist
**/.git
**/.gitignore
**/coverage
**/*.log
**/.env
**/.env.local
**/*.db
**/*.db-journal
**/*.db-wal
**/*.db-shm
**/.DS_Store
**/Thumbs.db
**/.vscode
**/.idea
**/*.tsbuildinfo
.claude
